extends layout

block content
  h1= title
  if category_list.length
    ul
      each category in category_list
        li
          a(href=category.url) #{category.name}
          //|  (#{part.author.name})

  else
    p There are no Categories.
