extends layout

block content
  h1= title
  p Welcome to #[em Computer Parts Shop], a very basic Express website.

  h2 Dynamic content

  p The shop has the following record counts:

  ul
    li #[strong Parts:] !{part_count}
    li #[strong Categories:] !{category_count}

